.cuponTitleOne{
	font-size:2em;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}

.cuponImgOne{
	width: 643px;
	height: 335px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 17px;

		img{
			width: 100%;
		}
}

.cuponDetailsOne{
	width: 542px;
	height: 335px;
	display: inline-block;
	position: relative;

		ul{
			padding-left: 30px;
   			padding-top: 20px;

			li:nth-child(1){
				font-size:3em;
				color: $green;
				font-weight: bold;
			}
			li{
				list-style: none;
				margin-bottom: 20px;
				font-size: 1.1em;

				.ico{
					font-size: 1.8em;
					color: $green;
					vertical-align: middle;
					margin-right: 5px;	
				}
			}
		}

		button{
			width:100%;
			border: none;
			position: absolute;
			bottom: 8px;
			right: 0;

			div{
				display: inline-block;
				vertical-align: middle;
				font-size: 1.8em;
				color: #fff;
				float: left;
				height: 47px;
    			padding-top: 16px;
    			position:absolute;
    			bottom:0;
			}

			.buy{
				width: 60%;
				background-color: $green;
				left:0;
			}

			.price{
				right:0;
				width: 40%;
				background-color:$selectGreen; 

				.ico{
					margin:0 0 0 10px;
					vertical-align: middle;
				}
			}

		}

		button:hover>.buy{
			background-color: $red;
		}
		button:hover>.price{
			background-color: #bd4a47;
		}
}

.mapOne{
	display: block;
    left: 0;
    margin: 100px 0 0;
    position: absolute;
    width:100%;
    height:290px;
}
.mapOneLink{
	display: block;
    float: left;
    margin-top: 69px;
    opacity: 0.7;
    position: absolute;
    z-index: 50;
		a{
			color:$grey;
			text-decoration: none;
		}
}

.cuponDescriptionOne{
	margin-top: 375px;
	width:100%;
	background-color:$green;
	color:#fff;
	padding: 40px 0;
	font-size: 1.2em;
	line-height: 1.6em;
	position: relative;
}

.cuponDescriptionOne:before{
	background-color: #16A085;
    bottom: 0;
    content: " ";
    height: 100%;
    left: -100%;
    position: absolute;
    width: 100%;
}
.cuponDescriptionOne:after{
	background-color: #16A085;
    bottom: 0;
    content: " ";
    height: 100%;
    right: -100%;
    position: absolute;
    width: 100%;
}



.byeCupon{

    img {
	    bottom: -91px;
	    height: 90px;
	    position: absolute;
	    right: 0;
	    z-index: 10;
	}

	.cuponDescriptionSingle:before {
	    border-bottom: 0 solid #16A085;
	    border-left: 30px solid #EAEDEE;
	    content: "";
	    height: 0;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 101px;
	}
	.cuponDescriptionSingle:after {
	    border-right: 104px solid rgba(0, 0, 0, 0);
	    border-top: 91px solid #16A085;
	    bottom: -89px;
	    content: "";
	    display: inline-block;
	    height: 0;
	    left: 0;
	    margin-top: 105px;
	    position: relative;
	    width: 438px;
	}
	.cuponDescriptionSingle {
	    background: none repeat scroll 0 0 #16A085;
	    -webkit-border-top-right-radius: 15px;
	    -moz-border-radius-topright: 15px;
	    border-top-right-radius: 15px;
	    display: inline-block;
	    height: 234px;
	    margin: 0;
	    padding-bottom: 0;
	    padding-top: 1px;
	    position: relative;
	    width: 542px;
	    z-index: 20;
	}
}
